
.moderators-add-row-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;

    :global(.ember-power-select-selected-item) {
        margin-left: 0;
    }
}

.invite-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: left;

    :global(.dropdown-menu) {
        @media (max-width: 768px) {
            left: auto;
            right: 0;
        }
        @media (max-width: 383px) {
            left: 0;
            right: auto;
        }
    }
}

.invite-text {
    padding: 2px 0 2px 5px;
    vertical-align: middle;
}

.moderator-name {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        flex-basis: 100%;
        min-height: 45px;
    }

    :global(.ember-power-select-trigger) {
        min-width: 200px;
        background-color: transparent;
    }
}

.dropdown-link {
    color: $brand-primary;
    border: none; /* stylelint-disable-line declaration-property-value-blacklist */
    background-color: transparent;
    padding: 2px;
    margin: 0 3px;

    :hover {
        background-color: none;
        border-color: none;
    }
}

.open > .dropdown-link {
    box-shadow: 0 0 3px;
}

.moderator-dropdown {
    flex: 1;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        justify-content: flex-start;
    }
}

.role-dropdown {
    :global(.dropdown-button) {
        min-width: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .invite-dropdown {
        background-color: $color-white;
    }
}

.row-controls {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.unregistered-dropdown {
    background-color: $color-white;
    width: 275px;
}

.unregistered-form {
    padding: 10px;
}

.moderator-dropdown-menu {
    background-color: $color-bg-default;

    button {
        display: flex;
        justify-content: space-between;
        background: transparent;
        width: 100%;
    }

    li:hover {
        background-color: $color-border-gray-light;
    }
}
