.moderator-list-row-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
}

.moderator-name {
    flex: 1;
    -ms-flex: auto; /* stylelint-disable-line property-no-vendor-prefix */
    display: inline-flex;
    align-items: center;

    @media (max-width: 768px) {
        flex-basis: 100%;
        min-height: 33px;
    }
}

.moderator-dropdown {
    flex: 1;
    -ms-flex: auto; /* stylelint-disable-line property-no-vendor-prefix */
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        justify-content: flex-start;
    }
}


.moderator-controls {
    flex: 1;
    -ms-flex: auto; /* stylelint-disable-line property-no-vendor-prefix */
    display: flex;
    justify-content: flex-end;

    .remove-button {
        color: $color-text-gray-dark;
    }
}

.moderator-dropdown-menu {
    background-color: $color-bg-default;

    button {
        display: flex;
        justify-content: space-between;
        background: transparent;
        width: 100%;
    }

    li:hover {
        background-color: $color-border-gray-light;
    }
}

.role-dropdown {
    :global(.dropdown-button) {
        min-width: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.name {
    display: inline-flex;
    word-break: break-all;
}

.gravatar {
    width: 40px;
    height: 40px;
    min-width: 40px;

    @media (max-width: 768px) {
        width: 25px;
        height: 25px;
        min-width: 25px;
    }
}
